<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GMP_Downloader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Dark Gray</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <GMP_Downloader.My.MySettings>
      <setting name="textSave" serializeAs="String">
        <value />
      </setting>
      <setting name="textAdmin" serializeAs="String">
        <value />
      </setting>
      <setting name="pcUserName" serializeAs="String">
        <value>Kullanıcı</value>
      </setting>
      <setting name="ımage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ımage2" serializeAs="String">
        <value />
      </setting>
      <setting name="pcMail" serializeAs="String">
        <value />
      </setting>
      <setting name="settingsStartSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsLowCpuSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsUpdatePackSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsAutoUpdateSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsUpdateHealingSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsTransitionSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsCpuComboBox" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="settingsGpuSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsBetaSwtich" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsUpdateSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsSystemRecSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsCrashReportSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsWindowsCompatibility" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsWindowsGameMod" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="settingsMemoryClearSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsNetworkOptimization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsNetworkHealing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsNetworkUnloading" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mainSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsAnimatedSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="settingsTransitionAnimatedCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="settingsButtonAnimatedCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="settingsLoginAnimatedCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="settingsNotificationAnimatedCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="settingsSteamGameCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsSteamProfilCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsSteamLibraryCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingsSteamProfileConnctionSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="settingslanguageBox" serializeAs="String">
        <value />
      </setting>
    </GMP_Downloader.My.MySettings>
  </userSettings>
</configuration>